 <div class="modal" ng-show="rele"  >
        <div class="modal_body">
            <div class="modal_content">
                <div class="modal_contents">
                    <div class="modal_title">
                        <div class="leftTit">发布任务</div>
                        <div class="close"   ng-click="reClose($event)"><i class="icon iconfont icon-shachu-xue"></i></div>
                   </div>
                    <div class="modal_main">
                        <form id="releases" class="timeSocl">
                            <div class="mout" >
                                <div class="timeSel">
                                    <label>发布时间：</label>
                                    <input type="text"  id="J-x8" readonly="readonly" autocomplete="off" name="release_time" ng-model="planTime" placeholder="请选择"/>
                                    <i class="icon iconfont icon-riqi1 iconfontss"></i>
                                </div>
                                <label>备注：</label>
                                <textarea name="remark" id="" cols="50" rows="10" placeholder="请输入"></textarea>
                            </div>
                            <div class="but">
                                <button ng-click="releaseTask()">确定</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
